:root {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

html {
  scroll-behavior: smooth; /* <--- ESTA LÃNEA HACE LA MAGIA */
}

html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  background-color: transparent !important;
}

img {
  display: block;
  max-width: 100%;
}